body {
  background-color: #f1f3f5;
  background-color: #6b6b6b;
}

.alert:empty { display: none; }

.logo {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 18pt;
}

.search {
  background-color: #d1d1d1;
  padding: 30px;
  margin: 10px;
  border-radius: 0.5em;
}

input#query {
  background-color: white !important;
}

input[type=text], input[type=email], select {
  background-color: #ccc !important;
}

input[type=submit] {
  background-color: darkred !important;
  border: none !important;
}

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

#search-result {
  padding: 0.5em;
}

.risky {
  color: red;
  font-weight: bold;
}

.clean {
  color: green;
  font-weight: bold;
}

.form input:invalid{
  border: 1px solid red;
  color: red;
}

.white {
  color: white;
}

#form-error {
  color: red;
}

footer {
  font-size: small;
  color: silver;
}

h5, label {
  color: white;
}
