body {
  background-color: #f1f3f5;
  background-color: #eee;
}

.alert:empty { display: none; }

.logo {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 18pt;
}

.search {
  background-color: #d1d1d1;
  padding: 30px;
  margin: 10px;
  border-radius: 0.5em;
}

input#query {
  background-color: white !important;
}

input[type=text], input[type=email], select {
  background-color: #fff !important;
}

input[type=submit] {
  background-color: darkred !important;
  border: none !important;
}

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

#search-result {
  padding: 0.5em;
}

.risky {
  color: red;
  font-weight: bold;
}

.clean {
  color: green;
  font-weight: bold;
}

.form input:invalid{
  border: 1px solid red;
  color: red;
}


#form-error {
  color: red;
}

footer {
  margin-top: 100px !important;
  font-size: small;
  color: silver;
}

.white {
  color: #666;
}

h5, label {
  color: #666;
}

li { 
  list-style: none;
  display: inline;
  margin-right: 1em;
  padding: 0.5em;
}

.optional {
  font-size: small;
  font-weight: normal;
  font-style: italic; 
}

.reported_on {
  font-size: small;
  font-style: italic;
}

.report-total {
  background-color: darkred; 
  width: 100px;
  padding: 0.2em;
  text-align: center;
  border-radius: 0.2em;
  color: white;
}

.code {
  background-color: #000;
  color: white;
  padding: 0.5em;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 0.2em;
}

.capitalize {
  text-transform: capitalize;
}
